<div class="px-4 py-5 my-5">
@for (group of list; let i = $index; track group) {
  <div class="box-container position-relative">
    <p class="h2 text-center">{{ group.title }}</p>

    <div
      cdkDropList
      #dropList="cdkDropList"
      [id]="'dropList' + i"
      [cdkDropListData]="group.items"
      [cdkDropListConnectedTo]="dropListIds"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of group.items; track item) {
        <div class="box btn btn-light" cdkDrag>{{ item }}</div>
      }
    </div>

    <button
      class="btn btn-sm btn-secondary mb-2 position-absolute bottom-(-100) end-0 m-2"
    >
      + add more
    </button>
  </div>
}
</div>
